* {
  transition: 0.2s all ease-out;
}
.keyboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 50%;
}
ul {
  list-style-type: none;
}
li {
  height: 3em;
  width: 3em;
  background-color: #fff;
  border-radius: 0.4em;
  line-height: 3em;
  margin: 0.4em;
  text-align: center;
  font-size: 1em;
}

#Tab {
  width: 5em;
}

#CapsLock {
  width: 6em;
}

#ShiftLeft,
#ShiftRight {
  width: 8em;
}

#Enter {
  width: 6em;
}

#Backspace {
  width: 5em;
}

#OSLeft,
#AltLeft,
#AltRight,
#ControlLeft,
#ControlRight,
#fn {
  width: 50px;
}
#Space {
  width: 430px;
}
#Arrow {
  width: 120px;
}
.row {
  display: flex;
  margin: 0px;
  justify-content: center;
}

.pinky {
  background-color: crimson;
  border: 2px solid crimson;
  height: 3em;
  width: 3em;
  /* background-color: #fff; */
  border-radius: 0.4em;
  line-height: 3em;
  margin: 0.4em;
  text-align: center;
  font-size: 1em;
}

.pressed {
  scale: 90%;
  /* color: white; */
  opacity: 90%;
  border: 2px solid white;
}
