* {
  transition: 0.2s all ease-out;
}
.keyboard {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 50%;
}
ul {
  list-style-type: none;
}
li {
  height: 3em;
  width: 3em;
  background-color: #fff;
  border-radius: 0.4em;
  line-height: 3em;
  margin: 0.4em;
  text-align: center;
  font-size: 1em;
}

#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#enter {
  width: 6em;
}

#right-shift {
  width: 8em;
}

#back {
  width: 5em;
}

#win,
#left-alt,
#right-alt,
#right-ctrl,
#left-ctrl,
#fn {
  width: 50px;
}
#space-bar {
  width: 376px;
}
#arrow {
  width: 120px;
}
.row {
  display: flex;
  margin: 0px;
  justify-content: center;
}

.pinky {
  background-color: crimson;
  border: 2px solid crimson;
}

.pressed {
  scale: 90%;
  /* color: white; */
  opacity: 90%;
  border: 2px solid white;
}
